<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Fitness Training Tracker</h1>
        <nav>
            <a href="/" class="nav-button">Home</a>
            <a href="/add" class="nav-button">Add Training</a>
            <a href="/stats" class="nav-button">Statistics</a>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>
</body>
</html>
